4조 프로젝트 파일.json
{
  "name": "4조 n8n",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "조회",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ebea37c5-0b22-4c05-beaa-9bc72cbd0b6a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9fb3a1f-9914-4269-a8ab-1b3e6af47226",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "추가",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd31ce30-a795-4296-8699-2058da6e7501",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "삭제",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2864,
        576
      ],
      "id": "d6d6011c-f637-458d-9e30-0fadc788dd62",
      "name": "Switch1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "=현재 키워드는 {{ $json.Value }} 입니다.",
        "otherOptions": {}
      },
      "id": "0fe5ef87-cb08-4cae-b532-f66aafa05345",
      "name": "Slack6",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        400
      ],
      "webhookId": "013c67cf-9cbc-46e9-9b8d-4dfc6bfc8f41",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "=키워드에 {{ $json.text }} 를 추가 했습니다",
        "otherOptions": {}
      },
      "id": "6f1b379f-c371-441d-ae2b-29beac4684a2",
      "name": "Slack7",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        592
      ],
      "webhookId": "820628c5-1dd0-47f7-9275-971cd1a83aa6",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Keywords",
        "filters": {
          "conditions": [
            {
              "keyName": "Value",
              "condition": "eq",
              "keyValue": "={{$json.text}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        784
      ],
      "id": "cc5d3f03-9a54-4b5e-b9cb-382ee39069da",
      "name": "Delete a row3",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "=키워드 {{ $json.text }} 를 삭제 했습니다.",
        "otherOptions": {}
      },
      "id": "98a08781-7995-47bc-b213-815c3b9a3e67",
      "name": "Slack8",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        784
      ],
      "webhookId": "7092525a-3b95-4ddd-ad90-eea614e18807",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.text}}",
                    "rightValue": "조회",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "11adea4a-3e60-48e6-a649-86fc162e7136"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55911dc3-96e2-4b79-98ea-f1f768f5105d",
                    "leftValue": "={{$json.text}}",
                    "rightValue": "추가",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "928f47c8-0739-4350-93d3-993b96af52e5",
                    "leftValue": "={{$json.text}}",
                    "rightValue": "삭제",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2864,
        1184
      ],
      "id": "cfd40ca5-67de-4e1b-90e1-a5ac10c5db3a",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Keywords",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gte",
              "keyValue": "={{ 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        400
      ],
      "id": "ec872162-f01b-4622-ae0f-c1fe95d96344",
      "name": "Get many rows5",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "target_urls",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gte",
              "keyValue": "={{ 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        1008
      ],
      "id": "34e4a2e0-bc44-4f6f-9925-270e8d7343af",
      "name": "Get many rows6",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Keywords",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Value",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        592
      ],
      "id": "70e372de-7952-4b84-a69d-e0ff0acd6157",
      "name": "Create a row7",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "=현재 url은 {{ $json.link }} 입니다.",
        "otherOptions": {}
      },
      "id": "f828dd00-7696-499a-800f-79aaecee6868",
      "name": "Slack9",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        1008
      ],
      "webhookId": "57d58969-833b-4a37-a009-3868d1735c06",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "target_urls",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.text.trim() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        1200
      ],
      "id": "6bb6c671-56c0-4a51-b934-6a8d901c001d",
      "name": "Create a row8",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "={{ $json.text.trim() }} 를 입력 했습니다",
        "otherOptions": {}
      },
      "id": "53ab94cc-974f-4a6f-a1c8-43501f87708e",
      "name": "Slack10",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        1200
      ],
      "webhookId": "4f24aab5-a5d4-431b-b67e-ed47c42e9640",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "target_urls",
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "condition": "eq",
              "keyValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        1392
      ],
      "id": "2bf11b6f-59fd-4c96-857f-37376dddf5fe",
      "name": "Delete a row4",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "=url {{ $json.text }} 를 삭제 했습니다.",
        "otherOptions": {}
      },
      "id": "9cc4daf4-4126-4e67-b43e-d906a4e83f69",
      "name": "Slack11",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        1392
      ],
      "webhookId": "c9f02612-8dd7-4296-adec-218d57c46e41",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Time Period",
        "filters": {
          "conditions": [
            {
              "keyName": "Name",
              "condition": "eq",
              "keyValue": "interval"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Value",
              "fieldValue": "={{ $json.text.replace(/<@.*?>/, \"\").match(/\\d+/)[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        208
      ],
      "id": "508c5cba-bb42-4924-a9ad-c1c9a4452c35",
      "name": "Update a row5",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "any_event",
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -3312,
        592
      ],
      "id": "024280e3-309c-4598-afed-ae6caf600b60",
      "name": "Slack Trigger",
      "webhookId": "85debd53-d175-4319-8e54-fca41abdf626",
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "알림",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "34b8d7ce-00c2-4107-974b-36d53df454dc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a560f41-24d5-4924-935f-8da42d432028",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "키워드",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "736c5435-a928-4e47-a11b-c27742dc5e12",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "사이트",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3088,
        576
      ],
      "id": "fd35af67-b269-48c2-91ad-6aa0e464e58d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "=공지 알림 주기를 {{ $json.Value }}시간으로 바꿨습니다!",
        "otherOptions": {}
      },
      "id": "328cf957-379e-4492-a702-88c7db643262",
      "name": "Slack12",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        208
      ],
      "webhookId": "134174c7-b418-4d94-baac-36a91209eee4",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c3d5185-390e-451d-bc39-47c2593d8c24",
              "leftValue": "={{ $json.text }}",
              "rightValue": "조회",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2848,
        64
      ],
      "id": "01836d13-f700-4e20-bce7-79be2794b86e",
      "name": "If6"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8QMKA0MA",
          "mode": "id"
        },
        "text": "=현재 공지 알림 주기는 {{ $json.Value }시간입니다!",
        "otherOptions": {}
      },
      "id": "4ba42cf5-22be-4dde-ba20-63da0383765e",
      "name": "Slack13",
      "type": "n8n-nodes-base.slack",
      "position": [
        -2416,
        16
      ],
      "webhookId": "712174b9-944c-4729-9cb5-4b7fc962e50a",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Time Period",
        "filters": {
          "conditions": [
            {
              "keyName": "Name",
              "keyValue": "interval"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        16
      ],
      "id": "457b2706-2d0f-4b16-82dd-be88f285c9da",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## if\n\"알림\" 경로 (수집 주기 관리)\n\"알림\"을 포함한 메시지가 입력되면 다음 로직을 수행한다.\n\n1) 조회 명령어 (예: \"알림 조회\"):\n\nIf문이 '조회'임을 판단하여 Get a row1 노드로 연결된다.\n\nTime Period 테이블의 Name 컬럼에서 현재 설정된 interval(주기) 값을 읽어와 슬랙으로 답변한다.\n\n2) 변경 명령어 (예: \"알림 8\"):\n\nIf문이 숫자 입력을 감지하여 Update a row5 노드로 연결됩니다.\n\n기존의 interval 값을 사용자가 입력한 새로운 숫자(예: 8)로 **(Update)** 한다\n",
        "height": 656,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        -304
      ],
      "typeVersion": 1,
      "id": "6c890237-01f0-4995-b9db-81ce3462586a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## ",
        "height": 592,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        368
      ],
      "typeVersion": 1,
      "id": "7cfabacf-fd70-412f-a7fe-769cbc1fc7ea",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# 키워드\n## 0. 조회\n## 1. 추가\n## 2. 삭제",
        "height": 512,
        "width": 176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2896,
        368
      ],
      "typeVersion": 1,
      "id": "5f1c9036-a709-4e7b-88f0-cd6e930d294d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## initialization\n",
        "height": 192,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4608,
        704
      ],
      "typeVersion": 1,
      "id": "746fdd44-fc86-4a73-9300-1c407efd5a08",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n**사용자에게 url과\n키워드를 입력 받는다.**",
        "height": 624,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4608,
        912
      ],
      "typeVersion": 1,
      "id": "a6aca588-1839-4b65-a47c-cc1d96ab8bcc",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Switch 단계 : 사용자 명령어 분류\n\n사용자가 슬랙에 입력한 메시지 내용에 따라 세 가지 경로 중 하나를 선택한다.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n0. 알림: 공지사항 브리핑 주기 설정 및 조회 프로세스로 진입\n\n1. 키워드: 모니터링할 관심 키워드 관리(추가/삭제) 프로세스로 진입\n\n2. 사이트: 공지사항 수집 대상 웹사이트 관리(추가/삭제) 프로세스로 진입 ",
        "height": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3184,
        400
      ],
      "typeVersion": 1,
      "id": "155bfbc4-2684-4419-8fef-7bd325486ef5",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## ",
        "height": 592,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        976
      ],
      "typeVersion": 1,
      "id": "9a9cc034-2e4a-4432-969e-674f99acf923",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "# 사이트\n## 0. 조회\n## 1. 추가\n## 2. 삭제",
        "height": 512,
        "width": 176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2896,
        976
      ],
      "typeVersion": 1,
      "id": "940389c0-ce80-44d8-9fa6-356459bf2c66",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Time Period",
        "filters": {
          "conditions": [
            {
              "keyName": "Name",
              "condition": "eq",
              "keyValue": "executed_at"
            },
            {
              "keyName": "Name",
              "condition": "eq",
              "keyValue": "interval"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4176,
        736
      ],
      "id": "0d6a481a-273b-40fd-84db-780a5b020111",
      "name": "Delete Time Period",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Keywords",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gte",
              "keyValue": "={{ 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3952,
        736
      ],
      "id": "b36134f0-4c2c-4f9c-bd7a-6aa3682b6412",
      "name": "Delete Keywords",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "target_urls",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gte",
              "keyValue": "={{ 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3728,
        736
      ],
      "id": "2d33e078-2e91-4015-b164-e0e43b1f47fc",
      "name": "Delete target_urls",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Time Period",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Name",
              "fieldValue": "executed_at"
            },
            {
              "fieldId": "Value",
              "fieldValue": "={{ $now.minus({ hours: 8 }).format('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "fieldId": "id",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4176,
        944
      ],
      "id": "1e2a3528-9b78-4445-b057-e800eec300de",
      "name": "Create Time Period - executed_at",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Time Period",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Name",
              "fieldValue": "interval"
            },
            {
              "fieldId": "Value",
              "fieldValue": "={{ 7 }}"
            },
            {
              "fieldId": "id",
              "fieldValue": "2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3952,
        944
      ],
      "id": "7612d8fe-1920-482d-89a0-c5c5db0079a8",
      "name": "Create Time Period - interval",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "공지사항 사이트 입력",
        "formDescription": "업데이트 내용을 볼 공지사항 사이트들을 입력해주세요.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "여러 링크 입력",
              "fieldType": "textarea",
              "fieldName": "sites"
            },
            {
              "fieldLabel": "여러 키워드 입력",
              "fieldType": "textarea",
              "fieldName": "keywords"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -4400,
        1040
      ],
      "id": "17dbaa16-dece-48a0-9f24-8eb1b6e899a7",
      "name": "On form submission",
      "webhookId": "89b80047-09d5-4ce4-b1c9-f748b73049ba"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.first().json.keywords; // \"https://...\" 문자열 가져오기\nconst keywords = rawData.split(/\\r?\\n/); // 줄바꿈을 기준으로 자르기\n\n// n8n이 인식할 수 있는 개별 아이템 형식으로 변환\nreturn keywords.map(key => {\n  return {\n    json: {\n      keyword: key.trim() // 앞뒤 공백 제거\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        1136
      ],
      "id": "f2f073e1-0266-4247-a7d4-ea1f5018b11b",
      "name": "Keywords preprocessing"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.first().json.sites; // \"https://...\" 문자열 가져오기\nconst links = rawData.split(/\\r?\\n/); // 줄바꿈을 기준으로 자르기\n\n// n8n이 인식할 수 있는 개별 아이템 형식으로 변환\nreturn links.map(link => {\n  return {\n    json: {\n      url: link.trim() // 앞뒤 공백 제거\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        1328
      ],
      "id": "84f277ad-7f6f-45cb-b0f7-0a6524138890",
      "name": "target_urls preprocessing"
    },
    {
      "parameters": {
        "tableId": "Keywords",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Value",
              "fieldValue": "={{ $json.keyword }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3952,
        1136
      ],
      "id": "b0950c03-1215-43ae-912e-db59515886a5",
      "name": "Create Keywords",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "target_urls",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3952,
        1328
      ],
      "id": "9b64fa13-249e-4756-b557-0130c24fc6d4",
      "name": "Create target_urls",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 알림\n## 0. 조회\n## 1. 변경",
        "height": 512,
        "width": 176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2896,
        -304
      ],
      "typeVersion": 1,
      "id": "480d0dd2-29dd-42ea-8f26-6eedf32bbd17",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "target_urls",
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2864,
        2304
      ],
      "id": "2f15d7f7-8384-45ba-babc-9d60294af1ef",
      "name": "update url2",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "history_links",
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3312,
        2304
      ],
      "id": "20611457-381c-483d-8c4c-690f1e7e098f",
      "name": "get url1",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "history_links",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.link }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        2304
      ],
      "id": "717681e8-cbec-45d1-8743-8798520fe8a7",
      "name": "update url3",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07799638-55d7-42a9-b1f7-fea762cfa2f1",
              "name": "existing_url",
              "type": "string",
              "value": "={{ $json.link.extractUrl() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5e42893-b01c-4738-8c1c-a72184bd01ea",
      "name": "Set field - existing_url1",
      "type": "n8n-nodes-base.set",
      "position": [
        -3088,
        2304
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.clean_content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=대학 공지 분석가. 입력 텍스트에서 불필요한 정보를 제외하고 사용자의 키워드와 관련된 본문만 분석하여 요약함."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=키워드: {{ $('Aggregate1').first().json.Value.join(\", \") }} 데이터: {{ $json.clean_content }}  [지시] 1. 위 키워드와 관련 있으면 'True', 없으면 'False'로 시작할 것. 2. 관련 있는 경우에만 아래 내용 작성: - 요약: (핵심 내용 2줄) - 마감일: (날짜 정보, 있을 경우) - 혜택: (지원금, 참여 혜택 등)"
            }
          ]
        }
      },
      "id": "f3c874c7-fb32-40f8-9275-fa91e3d5a857",
      "name": "Basic LLM Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        80,
        2208
      ],
      "typeVersion": 1.5,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputText": "={{ $json.title ?? \"No Data\" }}",
        "categories": {
          "categories": [
            {
              "category": "relevant",
              "description": "=이 기사 제목이 키워드 리스트 {{ $json.keyword ?? \"No Data\" }} 중 하나라도 구체적으로 관련(채용, 창업 교육, 취업 장학금 등)이 있다면 이 카테고리로 분류하세요."
            },
            {
              "category": "not_relevant",
              "description": "\"위에서 언급한 관심 키워드와 전혀 관련이 없는 일반 뉴스, 광고, 홍보성 기사, 또는 다른 분야의 주제를 다루는 콘텐츠는 이 카테고리로 분류하세요.\""
            }
          ]
        },
        "options": {
          "fallback": "discard"
        }
      },
      "id": "c5b3f312-1de3-44bc-a7ec-70b57e38f96e",
      "name": "Relevance Classification for Topic Monitoring1",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        -944,
        2480
      ],
      "typeVersion": 1,
      "executeOnce": false
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0898R9G7JP",
          "cachedResultName": "topic-monitoring"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "377a9413-f02f-4886-a56d-1203dadf0833",
      "name": "Slack21",
      "type": "n8n-nodes-base.slack",
      "position": [
        432,
        2112
      ],
      "webhookId": "d223306f-f856-42c3-9fd6-c8ea93b49bcc",
      "typeVersion": 2.3,
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "yVi31j9nIxeTS3UG",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. 현재 노드로 들어온 'NEW Urls' 데이터들을 받습니다.\nconst incomingData = $input.all(); \n\n// 2. 이전에 읽었던 목록을 저장한 노드('Set field - existing_url')에서 전체 아이템을 가져옵니다.\n// 이 노드명은 워크플로우상에 존재하는 실제 노드 이름과 정확히 일치해야 합니다.\nconst existingData = $(\"Set field - existing_url1\").all();\n\n// 3. 기존 주소들만 리스트(배열)로 추출합니다.\nconst existingUrls = existingData.map(data => data.json.existing_url);\n\n// 4. 새로운 주소(link)가 기존 목록(existingUrls)에 없는 것만 골라냅니다.\nconst uniqueData = incomingData.filter(data => {\n    // data.json.link가 기존 url 리스트에 포함되어 있지 않은 경우만 true\n    return data.json.link && !existingUrls.includes(data.json.link);\n});\n\n// 5. 결과 반환: 새로운 URL이 있으면 전달, 없으면 안내 메시지 반환\nif (uniqueData.length > 0) {\n    return uniqueData;\n} else {\n    return [{ json: { message: \"No new articles found.\" } }];\n}"
      },
      "id": "85501d76-3cb5-4faa-a891-2324c201496f",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        -1840,
        2672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "31abc1ea-b557-4b76-89dd-08714066cf09",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -1392,
        2768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bad6fc33-2e1e-4169-9893-d284c6c68288",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.message }}",
              "rightValue": "No new articles found."
            }
          ]
        },
        "options": {}
      },
      "id": "5a33aff8-e8fe-4e01-9c43-a02bc06b886c",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "position": [
        -1616,
        2672
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fbf5256-f06b-450a-adf7-65591a19c7dd",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "02f506cf-28fe-46ef-b97e-7ec938805151",
              "name": "link",
              "type": "string",
              "value": "={{ $node[\"Set field - existing_url1\"].json.existing_url }}"
            },
            {
              "id": "552efef4-63cb-448b-bb0c-30ae9666f310",
              "name": "description",
              "type": "string",
              "value": "={{ $json.contentSnippet || \"요약 정보 없음\" }}"
            },
            {
              "id": "096acb35-4e9e-48fd-8e61-8ceb525591fa",
              "name": "date",
              "type": "string",
              "value": "={{ $node[\"get url1\"].json.date || \"날짜 정보 없음\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e38319dd-929b-4159-a1ad-560337060a9d",
      "name": "Set fields - Not relevant articles1",
      "type": "n8n-nodes-base.set",
      "position": [
        -592,
        2576
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fbf5256-f06b-450a-adf7-65591a19c7dd",
              "name": "title",
              "type": "string",
              "value": "={{ $node[\"Set field - existing_url1\"].json.title }}"
            },
            {
              "id": "02f506cf-28fe-46ef-b97e-7ec938805151",
              "name": "link",
              "type": "string",
              "value": "={{ $node.json.link }}"
            },
            {
              "id": "e23059bd-8bb2-439a-85bd-f9e191930d1e",
              "name": "description",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "552efef4-63cb-448b-bb0c-30ae9666f310",
              "name": "date",
              "type": "string",
              "value": "={{ $json.text.match(/\\d{4}-\\d{2}-\\d{2}/) ? $json.text.match(/\\d{4}-\\d{2}-\\d{2}/)[0] : \"날짜 정보 없음\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a40aa7cf-eb6f-4fbf-81b0-f21133619527",
      "name": "Set Fields - Relevant Articles1",
      "type": "n8n-nodes-base.set",
      "position": [
        432,
        2304
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "25e52607-90f5-4440-8858-6b6161a31670",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -4672,
        2400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "={{ \"https://r.jina.ai/\" + $json.link }} ",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2416,
        2528
      ],
      "id": "6295a7a7-ec65-4126-a77d-5df894599687",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -864,
        2704
      ],
      "id": "04b7bfbe-4cb9-453b-be56-855f9127c7a7",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "SiFyNaBMFMkUXxzi",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        160,
        2432
      ],
      "id": "2eaf1128-cdd8-4957-92f6-13701a29f6ea",
      "name": "Azure OpenAI Chat Model5",
      "credentials": {
        "azureOpenAiApi": {
          "id": "SiFyNaBMFMkUXxzi",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "history_links",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.link }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        2576
      ],
      "id": "4d529bba-e9c5-4027-afac-c6dd7c456531",
      "name": "Create a row10",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Time Period",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ 1 }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Value",
              "fieldValue": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3984,
        2304
      ],
      "id": "17a66838-f0ef-43c9-8552-e64b820f0790",
      "name": "Update a row6",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc71562a-ca38-4436-86ef-3fe72feae428",
              "leftValue": "={{ $now.diff($node[\"Get many rows1\"].all().find(item => item.json.id == 2).json.Value, 'hours') }}",
              "rightValue": "={{ Number($node[\"Get many rows1\"].all().find(item => item.json.id == 1).json.Value) }}",
              "operator": {
                "type": "dateTime",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4192,
        2400
      ],
      "id": "3ccc6bb4-a7bb-4ce1-b59f-32e0c525ae5a",
      "name": "If8"
    },
    {
      "parameters": {},
      "id": "6acc3741-df4e-4bf8-98c2-d5e4c7dab3cc",
      "name": "No Operation, do nothing4",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -3984,
        2496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// 1. 전체 텍스트 데이터 가져오기\nconst rawData = $input.item.json.data;\n\n// 2. 게시판 목록에서 제목과 링크를 추출하는 정규식\n// 패턴 설명: [제목](링크) 형태이면서 wr_id(게시물 번호)를 포함한 링크만 추출\nconst regex = /\\[([^\\]]+)\\]\\((https:\\/\\/bigdata\\.sookmyung\\.ac\\.kr\\/bbs\\/board\\.php\\?bo_table=notice&wr_id=[^\\)]+)\\)/g;\n\nlet matches;\nconst results = [];\n\nwhile ((matches = regex.exec(rawData)) !== null) {\n    const title = matches[1].trim();\n    const link = matches[2];\n\n    // '이미지', '첨부파일', '다음', '페이지' 같은 불필요한 단어가 포함된 결과 제외\n    if (!title.includes('Image') && !title.includes('페이지') && !title.includes('다음')) {\n        results.push({\n            json: {\n                title: title,\n                link: link,\n                fetched_at: new Date().toISOString()\n            }\n        });\n    }\n}\n\n// 3. 결과 반환\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        2672
      ],
      "id": "60cfa21c-40db-4e66-9d9e-05eb68d7c155",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Keywords",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gte",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3760,
        2304
      ],
      "id": "e2a0b428-6b1a-4938-a105-b5dcdbcfec09",
      "name": "Get many rows9",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3536,
        2304
      ],
      "id": "941b0dc2-a343-464f-a004-f3bf385a9d75",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cd36b9f-5b36-4f72-8bd6-72c0ff235e87",
              "name": "keyword",
              "value": "={{ $('Aggregate1').first().json.Value }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        2576
      ],
      "id": "8d676289-8cc4-44b1-a754-5b95c76cb369",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "outputFormat": "markdown",
          "excludeSelector": "nav, header, footer, .menu, .sidebar, .footer_wrap, .gnb, .top_menu"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.jinaAi",
      "typeVersion": 1,
      "position": [
        -592,
        2384
      ],
      "id": "bdc71399-9290-4bd2-bddd-4cb58c082707",
      "name": "Read URL content1",
      "credentials": {
        "jinaAiApi": {
          "id": "HyftDtzWYmbDVd0L",
          "name": "Jina AI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  let content = item.json.content || \"\";\n  \n  // 1. 하단 법적 고지 및 공통 푸터 패턴 제거 (범용적 키워드)\n  const junkPatterns = [\n    /개인정보처리방침[\\s\\S]*/g,\n    /이메일무단수집거부[\\s\\S]*/g,\n    /Copyright[\\s\\S]*/gi,\n    /Terms of Service[\\s\\S]*/gi\n  ];\n  junkPatterns.forEach(pattern => content = content.replace(pattern, \"\"));\n\n  // 2. 줄바꿈 기준으로 분리하여 \"진짜 본문\"인 것 같은 줄만 필터링\n  const lines = content.split('\\n');\n  const cleanedLines = lines.filter(line => {\n    const trimmed = line.trim();\n    if (!trimmed) return false;\n    \n    // 메뉴판 특징: 링크만 있거나 너무 짧음\n    const isLinkOnly = trimmed.startsWith('[') && trimmed.endsWith(')') && !trimmed.includes(' ');\n    const isTooShort = trimmed.length < 5;\n    \n    // 본문일 확률이 높은 경우: 링크가 아니거나, 문장이 길거나, 공지 본문 특유의 단어 포함\n    return !isLinkOnly || trimmed.length > 50 || /안녕하세요|모집|일시|장소|신청|방법/.test(trimmed);\n  });\n\n  item.json.clean_content = cleanedLines.join('\\n').substring(0, 2000); // 최대 2000자 제한 (토큰 방어)\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        2384
      ],
      "id": "db73a4ff-69be-4ef2-a3cb-4912a09d0e04",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "list",
          "cachedResultName": "Instagram Scraper (apify/instagram-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/shu8hvrXbJbY3Eb9W/input"
        },
        "customBody": "{\n  \"directUrls\": [\n    \"https://www.instagram.com/smwu_bigdata/\",\n    \"https://www.instagram.com/smwu_software/\",\n    \"https://www.instagram.com/sookmyung_engineering/\",\n    \"https://www.instagram.com/sookmyung_sw/\",\n    \"https://www.instagram.com/smsw_ssstar/\",\n    \"https://www.instagram.com/smwu_stdcouncil58/\",\n    \"https://www.instagram.com/sookmyung_womens_univ/\",\n    \"https://www.instagram.com/sookmyung_career/\"\n  ],\n  \"resultsLimit\": 1,\n  \"resultsType\": \"posts\",\n  \"searchLimit\": 1,\n  \"searchType\": \"user\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -1840,
        2224
      ],
      "id": "906a7567-39a5-4537-8d96-4070fdbd2cc2",
      "name": "Run an Actor and get dataset1"
    },
    {
      "parameters": {
        "jsCode": "// 1. 기준 설정: \"어제\" 00:00:00 ~ 23:59:59 범위 계산\nconst now = new Date();\nconst yesterdayStart = new Date(now);\nyesterdayStart.setDate(now.getDate() - 7);\nyesterdayStart.setHours(0, 0, 0, 0);\n\nconst yesterdayEnd = new Date(now);\nyesterdayEnd.setDate(now.getDate() - 1);\nyesterdayEnd.setHours(23, 59, 59, 999);\n\nconst filteredPosts = [];\n\n// 2. Apify가 가져온 모든 항목들을 순회\nfor (const item of items) {\n  const post = item.json;\n  \n  // 데이터에 날짜 정보가 없는 경우 방어 코드\n  if (!post.timestamp) continue;\n\n  const postDate = new Date(post.timestamp); \n\n  // 3. 날짜 비교: 게시물 시간이 \"어제\" 범위 안에 들어오는 경우만 처리\n  if (postDate >= yesterdayStart && postDate <= yesterdayEnd) {\n    \n    // 본문 내용(caption)과 대체 텍스트(alt) 가져오기\n    const fullText = post.caption || \"\";\n    const altText = post.alt || \"\"; \n    const ownerUsername = post.ownerUsername || \"알 수 없음\"; // 어떤 계정의 글인지 확인용\n    \n    // 제목 추출: 본문의 첫 번째 줄\n    let title = fullText.split('\\n')[0].trim() || \"제목 없음\";\n    \n    // 제목 앞에 계정 이름 추가 (여러 계정을 섞어보므로 구분하기 위함)\n    title = `[${ownerUsername}] ${title}`;\n    \n    // 제목이 너무 길면 자르기\n    if (title.length > 60) {\n        title = title.substring(0, 60) + \"...\";\n    }\n\n    // 내용 구성: 실제 본문 + [이미지 설명: alt]\n    const combinedContent = altText \n      ? `${fullText}\\n\\n[이미지 설명]: ${altText}`\n      : fullText;\n\n    // 4. 결과 JSON 만들기\n    filteredPosts.push({\n      json: {\n        계정: ownerUsername,\n        제목: title,\n        내용: combinedContent,\n        날짜: postDate.toLocaleString('ko-KR'),\n        링크: `https://www.instagram.com/p/${post.shortCode}/`\n      }\n    });\n  }\n}\n\n// 5. 결과 반환\nreturn filteredPosts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        2224
      ],
      "id": "4676ad51-c9ef-4bf8-badf-c0a4eb95dfe1",
      "name": "Code in JavaScript7",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71ff31a5-eaec-439e-bad0-747fd884fb71",
              "leftValue": "={{ $json.link }}",
              "rightValue": "instagram.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2608,
        2304
      ],
      "id": "e2c8f84d-ebe0-444f-bb1c-24f7a66cad07",
      "name": "If9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25a715bc-2898-4c40-b7e4-ad3f10b522ea",
              "name": "instagram_contents",
              "value": "={{ $json['내용'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        2160
      ],
      "id": "1f86c20b-043c-42d2-9821-babec65f53f0",
      "name": "Edit Fields4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c03c751-3162-49cb-961a-70023a9e0e55",
              "name": "title",
              "value": "={{ $json['제목'] }}",
              "type": "string"
            },
            {
              "id": "d32b2b65-41ed-4189-8c48-e31464e447e2",
              "name": "date",
              "value": "={{ $json['날짜'] }}",
              "type": "string"
            },
            {
              "id": "2390f593-1069-47e7-a3cb-c12b49fe537b",
              "name": "link",
              "value": "={{ $json['링크'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        2352
      ],
      "id": "8cd45ff3-ee8c-4476-bfcb-8fa4eb9b495d",
      "name": "Edit Fields5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Time Period",
        "limit": 2,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gte",
              "keyValue": "={{ 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4400,
        2400
      ],
      "id": "bc715d0a-42bd-44b4-b146-2dce7392de63",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "zbM3470zkQ8ZoW5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1168,
        2480
      ],
      "id": "b9eeda15-f48a-4c87-a7a0-246cbe7ef927",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        2256
      ],
      "id": "5245b32e-5701-496f-b869-dfa5d7c87159",
      "name": "Merge3"
    },
    {
      "parameters": {
        "content": "## Schedule Trigger\n- 설정된 특정 시간에 자동으로 워크플로우를 실행하게 하는 역할\n\n\n",
        "height": 1200,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4768,
        1968
      ],
      "id": "08a38775-6cf3-4a4e-9f6f-b206647e2e87",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "## Create a row\n- 새로 수집된 공지나 사용자 키워드 정보를 **Supabase**에 기록\n\n\n## Get many rows\n- **DB**에 저장된 기존 URL목록을 불러와 \"\" 변수에 저장\n",
        "height": 1200,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4480,
        1968
      ],
      "typeVersion": 1,
      "id": "93d1a969-80f9-491e-90f7-076b3e9e2886",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## IF\n- (현재 시간) - (DB에 저장된 마지막 실행 시간)을 계산\n- 만약 계산 결과가 8이라면, \"마지막 알림 이후 8시간이 지났다\"는 뜻\n- 이후 If 노드에서 이 값이 사용자가 설정한 '알림 주기(interval)'보다 큰지 비교하여, 주기가 지났을 때만 자동으로 뉴스를 수집하도록 만든다.\n",
        "height": 1200,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4208,
        1968
      ],
      "typeVersion": 1,
      "id": "7b9c2094-0a37-4a51-b208-883d1a931367",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Aggreate\n\n- 키워드를 읽어와 하나의 데이터로 만든다.\n",
        "height": 1200,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3792,
        1952
      ],
      "typeVersion": 1,
      "id": "0773286d-01d4-4bfb-9845-3af246bf67ac",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "## set field\n\n- history_links 의 url을 읽어와 existing_url 변수에 저장한다.\n",
        "height": 1200,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3344,
        1952
      ],
      "typeVersion": 1,
      "id": "4187440d-f9e1-4928-88b2-03e1aeebd6b0",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "## \n\n-existing_url 변수에 저장된 url들과 비교하기 위한 사용자에게 새롭게 입력받은 target_urls 의 url을 불러온다\n",
        "height": 1200,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2928,
        1952
      ],
      "typeVersion": 1,
      "id": "6f7c8c99-692c-4e40-b49e-d9b73f7f0c44",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "## IF\n\n- 인스타그램: 전용 스크래퍼(Apify)를 사용하여 데이터 수집\n\n- 일반 사이트: HTTP Request로 전체 텍스트 데이터 로드",
        "height": 1200,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2672,
        1952
      ],
      "typeVersion": 1,
      "id": "3ccee86d-3f52-4aaa-a3b2-a67753e11aad",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "##데이터 정제 및 중복 게시물 필터링\n- 1)데이터 정제(Code in JavaScript4)\n정규식 추출: 원본 데이터에서 [제목](링크) 형태의 공지사항 목록만 추출\n\n노이즈 제거: '이미지', '다음 페이지' 등 불필요한 단어가 포함된 제목 제외\n\n포맷팅: 제목, 링크, 수집 시간을 JSON 형태로 규격화\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n- 2) 중복 게시물 필터링 (Code1)\n비교 대상: DB에서 가져온 '기존 URL(existing_url)' 목록\n\n로직: 새로 수집된 URL 중 기존 목록에 없는 신규 URL만 선별\n\n결과: 새로운 뉴스가 있을 때만 이후 AI 분류 단계로 전달\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 864,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        2416
      ],
      "typeVersion": 1,
      "id": "966a1be3-8374-4011-91c3-f7ada857fde5",
      "name": "Sticky Note41"
    },
    {
      "parameters": {
        "content": "## 인스타그램 데이터 정제 로직 \n\n1.기간 필터: 최근 7일 이내 발생한 게시물만 선별 (어제 기준)\n\n2.제목 가공: [계정] + 본문 첫 줄로 제목 생성 (60자 제한)\n\n3.내용 보강: 본문 텍스트 + 이미지 AI 설명(Alt) 결합\n\n4.링크 생성: shortCode를 활용해 원본 게시물 주소 생성",
        "height": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        1904
      ],
      "typeVersion": 1,
      "id": "ada6b2f7-c571-4631-a1b3-42e93746b7d1",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "## IF\n- 만약 앞에서 정제된 내용이 출력 되면 그 값이 위로가고,\n아니면 버린다.\n",
        "height": 560,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        2480
      ],
      "typeVersion": 1,
      "id": "023e68a0-0e4d-46fc-8781-18c7f064b6cc",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "content": "## Merge\n인스타 그램에서 정제된 데이터(내용 빼고 다)와 아래 IF문 결과 true인 경우의 데이터를 합쳐준다.\n",
        "height": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        2320
      ],
      "typeVersion": 1,
      "id": "30816fd6-ef46-4f2e-8173-2403dd822f97",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "##Classification\n- ai에게 미리 입력된 프롬포트 기준으로 제목에 키워드가 포함되거나 키워드와 관련된 내용이 있으면 그 url을 출력하고 출력 받은 url의 내용을 **Read URL Content1**이 읽어온다.\n\n- 키워드가 포함되지 않았거나 관련된 내용이 없다고 판단하면 history_links의 링크,제목,날짜,내용의 colum에 값을 저장한다.",
        "height": 656,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        2272
      ],
      "typeVersion": 1,
      "id": "c352ce46-78fc-4cc6-8749-7052fa6cbdfb",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "content": "## [LLM 분석 & 결과 발송]\n- LLM 판단: 키워드 대조 후 True(관련) / False(무관) 판정\n\n- True일 때만: 핵심 요약 + 혜택 + 마감일 추출 → 슬랙 알림 전송\n\n- DB 저장:  경우 모두 기사 정보(제목/링크/날짜/설명)를 매핑하여 보관",
        "height": 640,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        1968
      ],
      "typeVersion": 1,
      "id": "f37c6039-b9a1-4774-80d0-7056c2a89efb",
      "name": "Sticky Note46"
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "type": "app_mention",
          "user": "U0A8QMGHCTW",
          "ts": "1768490217.921379",
          "client_msg_id": "a4fbe68d-8095-440a-95f8-65a32d7e0aaf",
          "text": "<@U0A8M41HTCJ> 안녕 7",
          "team": "T0A8HLPMFHB",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "322ph",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "user",
                      "user_id": "U0A8M41HTCJ"
                    },
                    {
                      "type": "text",
                      "text": " 안녕"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "C0A8QMKA0MA",
          "event_ts": "1768490217.921379"
        }
      }
    ]
  },
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Get many rows5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row3": {
      "main": [
        [
          {
            "node": "Slack8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get many rows6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows5": {
      "main": [
        [
          {
            "node": "Slack6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows6": {
      "main": [
        [
          {
            "node": "Slack9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row7": {
      "main": [
        [
          {
            "node": "Slack7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row8": {
      "main": [
        [
          {
            "node": "Slack10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row4": {
      "main": [
        [
          {
            "node": "Slack11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row5": {
      "main": [
        [
          {
            "node": "Slack12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Slack13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Time Period": {
      "main": [
        [
          {
            "node": "Delete Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Keywords": {
      "main": [
        [
          {
            "node": "Delete target_urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Time Period - executed_at": {
      "main": [
        [
          {
            "node": "Create Time Period - interval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Delete Time Period",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Time Period - executed_at",
            "type": "main",
            "index": 0
          },
          {
            "node": "target_urls preprocessing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keywords preprocessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords preprocessing": {
      "main": [
        [
          {
            "node": "Create Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "target_urls preprocessing": {
      "main": [
        [
          {
            "node": "Create target_urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update url2": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get url1": {
      "main": [
        [
          {
            "node": "Set field - existing_url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set field - existing_url1": {
      "main": [
        [
          {
            "node": "update url2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Slack21",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Fields - Relevant Articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevance Classification for Topic Monitoring1": {
      "main": [
        [
          {
            "node": "Read URL content1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set fields - Not relevant articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields - Not relevant articles1": {
      "main": [
        [
          {
            "node": "Create a row10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields - Relevant Articles1": {
      "main": [
        [
          {
            "node": "update url3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Relevance Classification for Topic Monitoring1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update a row6": {
      "main": [
        [
          {
            "node": "Get many rows9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Update a row6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows9": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "get url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read URL content1": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Run an Actor and get dataset1": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Relevance Classification for Topic Monitoring1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "73441c47-374c-4955-bb81-a0d6ec2de833",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "JX5XZK76B6rrP0KW",
  "tags": []
}